Origin: XBian
Package: xbian-package-transmission
Version: __DATE__
Section: net
Priority: optional
Architecture: all
Pre-Depends: transmission-daemon
Depends: transmission-cli, unrar, xbian-package-config-shell (>=20181201-0), xbian-package-xbianhome
Conflicts:
Replaces: transmission-daemon
Maintainer: mkreisl <mkreisl@xbian.org>
Description: Metapackage for Transmission, configured for XBian
